.uxb-section {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 1rem;

  &__heading {
    font-size: 24px;
    margin: 0 0 0.5rem 0;

    @media (min-width: $breakpoint-tablet) {
      font-size: 40px;
    }
  }

  &__description {
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }

  &__container {
    padding: 2rem 0;
  }


}